/* General */
::-webkit-scrollbar {
    width: 0px;
}

body {
	background: #6b92b9;
    overflow: auto;
    overflow-x: hidden;
}
canvas {
    z-index: 0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.white {
    color: white;
}
.hidden {
    visibility: hidden;
}
.popup-password {
    width:160px;
    height:80px;
    padding:20px;
    background-color:black;    
    position:fixed;
    top: 50%;
    left: 50%;
    display:none;
    z-index: 999;
}
/* Main */
#main {
    padding: 16px;
    position: relative;
    top: 60px;
}
/* Login / Registreren */
.login {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.input-box {
    width: 100%;
}
/* Shop */
.shop-photo {
    max-width: 250px;
    height: auto;
    border: 3px solid;
}
.shop-add {
    background-color: #006F57 ! important;
    color: white ! important;
}
.search-container {
    float: right;
}
.search-container .button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.shopping-cart-button {
    font-size: 20px;
    cursor: pointer;
    font-size: 40px;
    color: black;
    padding: 10px 15px;
    border: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.cart-sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 56px;
    right: 0;
    background-color: #006F57;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: auto;
}
.shop-order-button {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
    position: relative;
    margin-left: 15px;
}
.shop-cart-text {
    color: white;
    font-size: 20px;
}
.shop-amount-button {
    color: white;
    font-size: 2rem;
    border: none;
    text-align: center;
    padding: 0;
}
.shop-number-box {
    width: 60px;
    color: black;
}
.shop-photo-cart {
    max-width: 100px;
    height: auto;
    border: 3px solid;
}
.shop-list {
    box-sizing: content-box;
    padding-bottom: 60px;
}
/* Profile */
.profile-box {
    border: 3px solid black;
    padding: 16px;
}
.profile-avatar{
    height:auto;
    border: 3px solid black;
}
.profile-instelling {
    margin: 2em;
}
.checkbox-profile {
    width: 40px;
    height: 40px;
    background: #ddd;
    margin: 20px 90px;

    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.profile-password {
    display: none;
    margin-left: 15px;
    width: 98%;
}
/* Support */
.support-message {
    height: 250px;
    min-height: 250px;
    font-size: 2rem;
}
.support-email {
    font-size: 20px;
}
/* Sudoku */
.sudoku-button {
    
}

/* Dropdown */       
.checkbox-dropdown {
       visibility: hidden;
       color: white;
}
/* Navigation */
a {
    text-decoration: none;
}
.title {
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.nav {
    padding: 8px 10px 8px 10px;
    background-color: #006F57;
    text-align: center;
    position: fixed;
    width: 99%;
    height: 40px;
    z-index: 2;
}
.nav-text {
    color: #ffffff;
}
.nav-margin {
    margin-right: 15px;
    margin-left: 15px;
}
.nav-margin-logout {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 15px;
}
.nav-login {
    color: #ffffff;
    font-size: 25px;
}
.nav-sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 56px;
    left: 0;
    background-color: #006F57;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: auto;
    padding-bottom: 200px;
    box-sizing: content-box;
}
.nav-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.nav-sidebar a:hover {
    color: #f1f1f1;
}
.nav-sidebar li {
    padding: 28px;
    list-style-type: none;
}
.closebtn {
    position: sticky;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    float: right;
    
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    padding: 10px 15px;
    border: none;
}
/* Mobile */
@media screen and (max-width: 870px) {
    #mobile{
        visibility: hidden;
        display: none;
    }
    .title {
        padding-right: 15px;
    }
}
@media screen and (min-width: 871px) {
    .openbtn {
        visibility: hidden;
    }
}